/* Ustawienie body na 100% wysokości i szerokości */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif; /* Czcionka w stylu cukierni */
  background-color: #f7f1e1; /* Kolor tła przypominający ciasto */
  color: #333;
}

.menu-cont {
  position: relative;
  height: 40vh;
  background: linear-gradient(to bottom, rgba(233, 171, 0, 0), #f7f1e1 90%), 
              url('../components/images/dohome.jpg');
  background-size: cover;
  background-position: center;
}

.title-names {
  padding: 55px;
  position: relative;
  color: white;
  text-align: center ;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  color: #6c4f1f; 
  font-family: 'Pacifico', cursive; 
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #e7a12e; 
}

.about-section {
  min-height: 30vh;
  z-index: 1;
  padding: 20px;
}

/* tekst do napisu nasze wypieki*/
.l1 {
  padding: 30px;
  text-align: center;
  font-size: large;
  font-family: 'Pacifico', cursive ;
}


/* Sekcja "Dlaczego warto nas wybrać?" */
.why-us-section {
  background-color: #fff3e3; /* Kolor przypominający kremy w ciastkach */
  padding: 40px;
  margin-top: 30px;
}

.why-us-section .service-list h3 {
  padding: 10px;
}

.why-us-section .service-list h3::before {
  margin-right: 15px;
  content: '\2022';
  color: #6c4f1f; 
  font-size: 1rem; 
}

.section-title {
  font-size: 2rem;
  text-align: center;
  color: #6c4f1f; 
  font-family: 'Lobster', cursive; /* Stylizowana czcionka dla tytułów */
  margin-bottom: 20px;
}

/* Lista wypieków */
.service-list {
  padding: 30px;
  text-align: left;
  font-size: large;
  font-family: 'Pacifico', cursive ;
}

/*Sekcja unikalneWypieki*/
.unikalneWypieki {
  padding-top: 20px;
  padding-bottom: 90px;
  position: relative;
}

.service-list2 {
  padding: 30px;
  text-align: left;
  font-size: large;
  font-family: 'Pacifico', cursive ;
}

.unikalneWypieki .service-list2 h3 {
  padding: 10px;
}

.unikalneWypieki .service-list2 h3::before {
  margin-right: 15px;
  content: '\2023';
  color: #6c4f1f; 
  font-size: 1.3rem; 
}


/*Sezonowe wypieki*/
.SezonoweWypieki {
  padding-top: 20px;
  padding-bottom: 90px;
  position: relative;
}

.sezonwypieki {
  color: #e7a12e;
  text-align: center;
  font-size: x-large;
  font-family: 'Pacifico', cursive ;
}

.subtitle {
  color: #e7a12e;
  text-align: center;
  font-size: x-large;
  font-family: 'Pacifico', cursive ;
}


.containerOpisNapoje {
  grid-template-columns: 1fr 1fr;  /* Równe dzielenie kontenera na pół */
  position: relative; 
  display: grid;
  gap: 50px; /* Odstęp między kartami */
  padding: 35px;
  text-align: center; /* Centrowanie tekstu */
}

.TytulSeason {
  position: relative;
  font-size: x-large;
  padding-bottom: 10px;
}

/*Sekcja informacje*/
.informacje {
  background-color: #6c4f1f13;
}

.section-title-info {
  font-size: 2rem;
  text-align: center;
  color: #6c4f1f; 
  font-family: 'Lobster', cursive; /* Stylizowana czcionka dla tytułów */
  margin-top: 10px;
  padding: 20px;
}

.info-opis {
  padding: 30px;
  text-align: left;
  font-size: large;
  font-family: 'Pacifico', cursive ;
}

.containerInfo {
  width: 99%;
  display: flex;
  gap: 20px; /* Odstęp między kartami */
  justify-content: center; /* Wyrównanie kart na środku */
  align-items: center; /* Wyrównanie w pionie */
  padding: 10px;
}

/* Nowy układ kart w .containerInfo */
.containerInfo1 {
  display: flex;
  justify-content: center; /* Wyrównanie kart na środku */
  gap: 20px; /* Odstęp między kartami */
  padding: 10px;
  align-items: center; /* Centrowanie kart w poziomie */
  height: 400px; /* Ustawienie wysokości kontenera */
}



.info-tytul-media {
  padding: 30px;
  text-align: center;
  font-size: x-large;
  font-family: 'Pacifico', cursive ;
}

.info-opis-media {
  padding: 30px;
  text-align: center;
  font-size: large;
  font-family: 'Pacifico', cursive ;
}

/* Responsywność */
@media (max-width: 1200px) {
  .menu-cont {
    height: 35vh; /* Zmniejszamy wysokość dla większych ekranów, takich jak tablety */
    background-size: cover;
    background-position: center;
  }
  
  .containerWypieki, .containerWypieki2, .containerWypieki3, .containerNapoje {
    flex-direction: column;
    gap: 10px; /* Zmniejsz odstępy w wersji na tablety */
  }

  .service-list, .service-list2 {
    font-size: medium;
  }

  .hero-title {
    font-size: 2.8rem;
  }

  .hero-subtitle {
    font-size: 1.3rem;
  }

  .section-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 1024px) {
  .home-page {
    font-family: 'Merriweather', serif;
  }
  
  .menu-cont {
    height: 30vh; /* Mniejsza wysokość na tabletach */
    background-size: cover;
    background-position: center;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .service-list h3 {
    font-size: 0.9rem;
  }

  .title-names {
    padding: 30px;
  }

  .containerWypieki, .containerWypieki2, .containerWypieki3, .containerNapoje {
    flex-direction: column;
    gap: 10px; /* Zmniejsz odstępy w wersji na tablety */
  }

  .service-list, .service-list2 {
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .home-page {
    font-family: 'Merriweather', serif;
  }
  .menu-cont {
    height: 25vh; /* Mniejsza wysokość na urządzeniach mobilnych */
    background-size: cover;
    background-position: center;
  }

  .hero-title {
    font-size: 2.2rem;
  }

  .hero-subtitle {
    font-size: 1.1rem;
  }

  .section-title {
    font-size: 1.4rem;
  }

  .service-list h3 {
    font-size: 0.9rem;
  }

  .title-names {
    padding: 20px;
  }

  .containerWypieki, .containerWypieki2, .containerWypieki3, .containerNapoje {

    flex-direction: column;
    gap: 10px; /* Zmniejsz odstępy w wersji na małe urządzenia */
    padding: 15px;
  }

  .service-list, .service-list2 {
    font-size: small;
  }

  .info-tytul-media, .info-opis-media {
    font-size: medium;
  }


  .containerInfo1 {
    flex-direction: column; /* Układ kolumnowy na małych ekranach */
  }
}

@media (max-width: 480px) {
  .home-page {
    font-family: 'Merriweather', serif;
  }

  .menu-cont {
    height: 20vh; /* Jeszcze mniejsza wysokość na bardzo małych ekranach */
    background-size: cover;
    background-position: center;
  }

  .hero-title {
    font-size: 1.8rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.6rem;
  }

  .l1{
    font-size: 1rem;
  }

  .service-list h3 {
    font-size: 1rem;
  }

  .title-names {
    padding: 15px;
  }

  .containerWypieki, .containerWypieki2, .containerWypieki3, .containerNapoje {
    flex-direction: column;
    gap: 5px; /* Bardziej skompresowane dla najmniejszych ekranów */
    padding: 10px;
  }

  .service-list, .service-list2 {
    font-size: 1rem;
  }

  .info-tytul-media, .info-opis-media {
    font-size: 1rem;
  }

  .info-opis{
    font-size: 1rem;
  }
  
  .containerInfo1 {
    flex-direction: column; /* Układ kolumnowy na małych ekranach */
  }
}
