.menu-container {
  display: flex;
  position: relative;
  height: 100vh;
  background:  linear-gradient(to bottom, rgba(233, 171, 0, 0), #ffffff 90%),
   url('../components/images/menu.jpg') no-repeat 
   center / cover;
}

.menu-text {
  font: medium , 'Times New Roman', Times, serif;
  width: 24%;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(280%, 500%);
  color: rgb(255, 255, 255);
  text-align: left ;
}

.menu-title {
  width: 100%;
  font-size: xx-large ;
  color: rgb(0, 0, 0);
  font-family: 'Pacifico', cursive;
  padding-bottom: 10px;
  text-align: start; /* Wyśrodkowanie tekstu */
  position: relative; /* Potrzebne dla ::after */
}

.menu-title::after {
  content: ""; /* Pusty element */
  display: block; /* Traktuj jako blok */
  width: 100%; /* Długość linii */
  height: 3px; /* Grubość linii */
  background-color: #f39c12; /* Kolor linii */
  margin: 10px auto 0; /* Odstępy i wyśrodkowanie linii */
}

.menu-text p {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






/* Sekcja słodkich naleśników */
.slodkie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Wyśrodkowanie w poziomie */
  background: linear-gradient(to bottom, rgba(233, 171, 0, 0.075), #f7f1e1 99%);
}

.Naglowek {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #6c4f1f; 
  font-family: 'Pacifico', cursive; 
}




/* Pojedynczy element "naleśnik z serem" */
.PositionMenuFirst {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.048), #f7f1e1 99%);
  display: flex;
  align-items: center;
  padding: 50px;
  width: 100%;
  justify-content: center;
}

/* Pojedynczy element "naleśnik z serem" */
.PositionMenuEnd {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.048), #f7f1e1 99%);
  display: flex;
  align-items: center;
  padding: 50px;
  width: 100%;
  justify-content: center;
}

/* Pojedynczy element "naleśnik z serem" */
.PositionMenuLeft {
  background: linear-gradient(to left, rgba(233, 171, 0, 0.048), #f7f1e1 99%);
  display: flex;
  align-items: center;
  padding: 50px;
  width: 100%;
  justify-content: center;
}

/* Pojedynczy element "naleśnik z serem" */
.PositionMenuRight {
  background: linear-gradient(to right, rgba(233, 171, 0, 0.048), #f7f1e1 99%);
  display: flex;
  align-items: center;
  padding: 50px;
  width: 100%;
  justify-content: center;
}

/* Tło naleśników */
.BezaPavlova , .BrownieBezglutenowe, .PuddingChia , .ciasteczkaD,.Nalesniki {
  width: 400px;
  height: 300px;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 20px;
  flex-shrink: 0; /* Zapobiega skalowaniu zdjęcia */
}


.Nalesniki {
  background: url('../components/images/nalesniki.jpg');
  background-size: cover;
}

.ciasteczkaD {
  background:
  url('../components/images/ciasteczka.jpg');
  background-size: cover;
}

.BezaPavlova {
  background:
  url('../components/images/BezaPavlova.jpg');
  background-size: cover;
}

.BrownieBezglutenowe {
  background: url('../components/images/BrownieBezglutenowe.jpg');
  background-size: cover;
}

.PuddingChia {
  background: url('../components/images/PuddingChia.jpg');
  background-size: cover;
}

.opis {
  padding-left: 5%;
  padding-right: 5%;
  width: 55%;
}

.dish-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.dish-title::after {
  content: ""; /* Pseudoelement nie ma treści */
  display: block; /* Traktuj go jak element blokowy */
  height: 2px; /* Grubość linii */
  background-color: #f39c12; /* Kolor linii */
  margin-top: 5px; /* Odstęp od tekstu */
  width: 100%;
}



/*znikanie animacja*/
@keyframes fadeOut {
  0% {opacity: 0.2;}
  15% {opacity: 1;}
  30% {opacity: 0.1;}
}

/* Kontener karuzeli */
.carousel-container {
  background:  linear-gradient(to top, rgba(233, 171, 0, 0.075), #ffffff 90%);
  padding-bottom: 10px;
  position: relative;
  border-radius: 10px;
  animation: fadeOut 2s forwards;
  animation-timeline: scroll();
}

.titleC {
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}


.carousel-image{
  padding-left: 100px;
}

.carousel {
  display: flex; /* Ustawienie elementów obok siebie */
  align-items: flex-start; 
}

.carousel-text-container {
  padding-left: 30px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Ustawienie tytułu i tekstu w kolumnie (jeden pod drugim) */
  justify-content: flex-start; /* Ustawienie w pionie */
  margin-left: 20px; /* Odstęp między zdjęciem a tekstem */
}



.carousel-title {
  font-family: 'Pacifico', cursive;
  padding-top: 20px;
  padding-left: 5%;
  font-size: xx-large;
  margin-bottom: 10px;
  position: relative;
}

.carousel-text {
  width: 70%;
  padding-left: 5%;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  position: relative;
}

.onC,.twC,.thC {
  background: url('../components/images/nalesniki.jpg');
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  flex-shrink: 0; /* Zapobiega skalowaniu zdjęcia */
  transition: transform 0.5s ease; /* Animacja powrotu */
}

.twC{
  background: url('../components/images/BezaPavlova.jpg');
  background-size: cover;
}

.thC{
  background: url('../components/images/ciasteczka.jpg');
  background-size: cover;
}


.ZmianaMenu {
  padding-bottom: 5%;
  gap: 80%; /* Odstęp między przyciskami */
  background-color: rgba(233, 171, 0, 0.075);
  display: flex; /* Flexbox dla elastycznego rozmieszczenia elementów */
  flex-direction: row; /* Ustawienie elementów w jednym wierszu */
  width: 100%; /* Ustalamy szerokość listy na 100%, aby rozciągnęła się na całą szerokość kontenera */
  justify-content: center; /* Wyśrodkowanie w poziomie */
  animation: fadeOut 2s forwards;
  animation-timeline: scroll();
}


.Lewo, .Prawo {
  width: 40px; /* Średnica przycisku */
  height: 40px; /* Średnica przycisku */
  border: 2px solid rgba(0, 0, 0, 0.8); /* Białe obramowanie z przejrzystością */
  border-radius: 50%; /* Okrągły kształt */
  cursor: pointer; /* Ręka przy najechaniu */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Umożliwia dodanie strzałki wewnątrz */
  transition: transform 0.2s ease; /* Animacje */
}

.Lewo::before, .Prawo::before {
  content: ''; /* Strzałka */
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid rgb(0, 0, 0); /* Górna linia strzałki */
  border-right: 2px solid rgb(0, 0, 0); /* Prawa linia strzałki */
  position: absolute;
}

.Lewo::before {
  transform: rotate(225deg); /* Odwrócenie strzałki w lewo */
}

.Prawo::before {
  transform: rotate(45deg); /* Strzałka w prawo */
}

.Lewo:hover, .Prawo:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Zmiana koloru przy najechaniu */
  transform: scale(1.1); /* Powiększenie przycisku */
}

.Lewo:active, .Prawo:active {
  transform: scale(0.95); /* Lekkie zmniejszenie przy kliknięciu */
}










/* Maksymalna szerokość 1200px */
@media (max-width: 1200px) {
  

  .menu-container {
    height: 85vh;
  }

  .menu-text {
    display: flex;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(285%, 300%);
    font-size: 0.87rem;
  }

  .BezaPavlova , .BrownieBezglutenowe, .PuddingChia , .ciasteczkaD,.Nalesniki {
    width: 350px;
    height: 250px;
  }

  .PositionMenuFirst,.PositionMenuLeft,.PositionMenuRight,.PositionMenuEnd{
    flex-wrap: wrap;
  }

  .opis{
    padding: 20px;
  }


    /* Pojedynczy element "naleśnik z serem" */
  .NalesnikZSerem {
    display: grid;
    text-align: center; /* Wyrównanie pionowe */
    padding: 70px;
    width: 30%;
  }

  .nalesniki {
    transform: translate(45%,0%);
  }
}

/* Maksymalna szerokość 1024px */
@media (max-width: 1024px) {
  .menu-container {
    height: 70vh;
  }

  .menu-text {
    display: flex;
    flex-wrap: wrap;
    transform: translate(280%, 265%);
    font-size: 0.7rem;
  }


  .BezaPavlova , .BrownieBezglutenowe, .PuddingChia , .ciasteczkaD,.Nalesniki {
    width: 300px;
    height: 200px;
  }

}

/* Maksymalna szerokość 768px */
@media (max-width: 768px) {
  .menu-container {
    display: flex;
    position: relative;
    height: 60vh;
    background:  linear-gradient(to bottom, rgba(233, 171, 0, 0), #ffffff 90%);
    background-size: cover;
    background-position: center;
  }

  .menu-text {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    transform: translate(50%, 150%);
    font-size: 0.9rem;
  }

  .BezaPavlova , .BrownieBezglutenowe, .PuddingChia , .ciasteczkaD,.Nalesniki {
    width: 300px;
    height: 200px;
  }

  .carousel-image{
    padding-left: 0;
  }

  .carousel-text-container{
    padding: 0%;
    width: 90%;
  }

.carousel-title{
  padding-left: 0%;
}

  .carousel-text {
    width: 90%;
  }

  .carousel{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

}

/* Maksymalna szerokość 480px */
@media (max-width: 480px) {


  .menu-text {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    transform: translate(50%, 100%);
    font-size: 0.75rem;
  }

  .BezaPavlova , .BrownieBezglutenowe, .PuddingChia , .ciasteczkaD,.Nalesniki {
    width: 300px;
    height: 200px;
  }

}