/* Header.css */


  header {
    background-color: #333333;
    padding: 10px 20px;
    position: relative;
  }

  .menu-icon {
    opacity: 0; /* Прозрачность 50% */
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .ul {
    margin-top: auto;
    margin-left: 20px;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Sora', sans-serif; /* Czcionka dla linków */
    font-weight: 550; /* Pogrubienie tekstu */
  }
  
  .nav-links li a:hover {
    color: #f39c12;  /* Kolor zmienia się na pomarańczowy po najechaniu */
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-top: 2px;
  }
  
  .logo img {
    margin: 5px;
    height: 25px; /* Wysokość logo */
    max-width: 90%; /* Zapobieganie rozciąganiu obrazu */
  }

  /*boczny pasek*/
  .sidebar-toggle {
    color: white;
    cursor: pointer;
    font-size: 18px;
  }
  
  .sidebar {
    position: fixed;
    right: -300px; /* Ukrywamy pasek po prawej stronie */
    width: 300px;
    height: 88%;
    background-color: #333;
    padding: 20px;
    transition: right 0.3s ease; /* Płynne przesuwanie */
    z-index: 1000; /* Upewniamy się, że pasek jest nad innymi elementami */
  }
  
  .sidebar.active {
    right: 0; /* Pasek wysuwa się na ekran */
  }
  
  .sidebar-content {
    color: white;
    padding-top: 50px;
  }
  
  .logo_boczne {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .sidebar h2 {
    color: #f39c12;
    margin-bottom: 10px;
    text-align: center;
    font-size: x-large;
  }
  
  .sidebar p {
    margin: 10px 0;
    text-align: center;
    font-size: small;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    color: #f39c12;
  }
  
  

  

    /* Widoczność sidebara tylko na desktopie */
  @media (max-width: 1024px) {
    .sidebar {
        display: none; /* Ukrywamy pasek boczny na urządzeniach mobilnych */
    }

    .sidebar-toggle {
        display: none; /* Ukrywamy przycisk bocznego paska na mobilnych */
    }
  }

  /* Responsywność dla urządzeń mobilnych */
  @media (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    .sidebar {
      right: -250px; /* Mniejszy rozmiar bocznego paska na urządzeniach mobilnych */
    }
    
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: center;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      z-index: 1000;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .nav-links li:last-child {
      margin-bottom: 20px;
    }
  
    .nav-links li a {
      font-size: 16px;
      font-weight: 700;
    }
  
    .menu-icon {
      opacity: 1;
      display: block;
      cursor: pointer;
      font-size: 30px;
      color: white;
    }
  }


